.NavButton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2vh 3vh;
    height: 100%;
    cursor: pointer;
}

.Icon {
    font-size: 25px;
}

.Label {
    font-size: 14px;
    text-transform: capitalize;
}