.navbar {
    box-shadow: 0 5px 20px black;
    background: rgb(18,18,18);
    background: linear-gradient(0deg, rgba(18,18,18,1) 0%, rgba(51,51,51,1) 100%);
}

.logo {
    padding: 1vh 5vh;
    width: 100%;
    height: auto;
}

.navbartoggler {
    background-color: var(--white-ch) !important;
    align-self: center;
}

.navbartoggler span {
    /* background-image: url(../public/assets/hc_logo.svg) !important; */
}

.button {
    padding: 0 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    font-weight: bold;
}

.button:hover {
    border-bottom: 3px solid var(--teal-ch);
    
}