@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');

:root {
    --bb-pink: #e1a3ec;
    --bb-pink-hover: #dc8beb;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Parisienne', cursive;
}

.jumbotron h1 {
    font-size: 10vh;
}

div {
    font-family: 'Radley', serif;
}

.img-align-left {
    float: left;
    margin-right: 20px;
}

.img-align-right {
    float: right;
    margin-left: 20px;
}

.body {
    margin-top: 20px;
}

.container {
    padding-top: 2em;
}



